* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: none;
    font-family: "游ゴシック","Yu Gothic",YuGothic,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ ゴシック",sans-serif;
    font-size: 100%
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600
}

html,body {
    background: #fff;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word
}

span {
    font: inherit
}

a {
    color: blue;
    -webkit-tap-highlight-color: rgba(0,153,255,.2);
    outline: none
}

a:hover {
    text-decoration: none
}

a,img {
    border: none
}

li {
    list-style-type: none
}

.noselect,img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.anchor {
    height: 0px;
    margin-top: 0px;
    display: block
}

.legacy_ie {
    text-align: center;
    padding: 1em;
    background: #ffe469;
    color: #333;
    font-weight: 600;
    z-index: 9999;
    position: relative;
    display: none
}

.legacy_ie a {
    color: #333
}

body[data-device=ie] .legacy_ie {
    display: block !important
}

i.fa,i.fab,i.fas,i.far {
    margin: 0 .2em
}

i.fab {
    font-weight: 400
}

.pc_br {
    display: block
}

.sp_br {
    display: none
}

.pc_center {
    text-align: center
}

.sp_center {
    text-align: left
}

[data-scroll-layout] {
    transition-property: transform,opacity;
    transition-duration: 800ms;
    transition-timing-function: ease;
    opacity: 0;
    transform: translate(0, 20px);
    pointer-events: none
}

[data-scroll-layout].layoutin {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto
}

[data-scroll-layout].layout__horizontal {
    transform: translate(20px, 0)
}

[data-scroll-layout].layout__horizontal.layoutin {
    transform: translate(0, 0)
}

[data-scroll-layout].layout__scale {
    transform: scale(0.5)
}

[data-scroll-layout].layout__scale.layoutin {
    transform: scale(1)
}

@media screen and (max-width: 800px) {
    .pc_br {
        display:none
    }

    .sp_br {
        display: block
    }

    .pc_center {
        text-align: left
    }

    .sp_center {
        text-align: center
    }
}

.over {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(30,30,30,.9);
    display: none;
    pointer-events: none
}

.over__outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.over__controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999
}

.over__close {
    display: block;
    width: 64px;
    height: 64px;
    background: #000;
    margin-left: auto;
    margin-right: 0
}

.over__close svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke: #fff;
    stroke-width: 2px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out
}

.over__close:hover svg {
    transform: rotate(90deg)
}

.over__contents {
    padding: 64px
}

.over__container {
    width: 100%;
    height: 100%;
    position: relative
}

.over__container iframe {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.over__container svg {
    background: #000;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 128px);
    width: auto;
    height: auto
}

.over__image img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 128px);
    width: auto;
    height: auto
}

.over__image a {
    display: block
}

.over__youtube img,.over__iframe img {
    background: #000;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 128px);
    width: auto;
    height: auto;
    min-width: 320px;
    min-height: 180px
}

.swiperoverimages {
    color: #fff;
    height: 100%
}

.swiperoverimages .swiper-container {
    height: 100%
}

.swiperoverimages .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down
}

.swiperoverimages .swiper-pagination {
    left: 0;
    bottom: -40px;
    width: 100%
}

.swiperoverimages .swiper-pagination-bullet {
    margin: 0 3px;
    outline: none;
    background: #000;
    opacity: 1
}

.swiperoverimages .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.2)
}

.swiperoverimages .swiper-button-next,.swiperoverimages .swiper-button-prev {
    display: block;
    width: 64px;
    height: 64px;
    background: rgba(0,0,0,.8);
    margin-top: -32px;
    outline: none
}

.swiperoverimages .swiper-button-next svg,.swiperoverimages .swiper-button-prev svg {
    display: block;
    width: 100%;
    height: auto;
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out
}

.swiperoverimages .swiper-button-next {
    right: -64px
}

.swiperoverimages .swiper-button-next:hover svg {
    transform: translate(5px, 0)
}

.swiperoverimages .swiper-button-prev {
    left: -64px
}

.swiperoverimages .swiper-button-prev:hover svg {
    transform: translate(-5px, 0)
}

.swiperoverimages .swiper-lazy {
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0
}

.swiperoverimages .swiper-lazy-loaded {
    opacity: 1
}

body[data-device=ie] .over__image img {
    width: 100%
}

body[data-device=ie] .over__youtube img,body[data-device=ie] .over__iframe img {
    width: 100%
}

body[data-device=ie] .swiperoverimages .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto
}

body[data-over-full="1"] .over__contents,body[data-over-full="1"] .over__inner {
    width: 100%;
    height: 100%
}

body[data-over-full="1"] .over__images {
    padding-left: 0;
    padding-right: 0
}

body[data-over="1"] {
    overflow: hidden
}

body[data-over="1"] .over {
    pointer-events: auto
}

@media screen and (max-width: 640px)and (min-height: 110vw) {
    .over__inner {
        position:relative
    }

    .over__controller {
        top: auto;
        width: 48px;
        left: 50%;
        bottom: 0;
        margin-left: -24px
    }

    .over__close {
        width: 48px;
        height: 48px;
        margin: 0 auto
    }

    .over__contents {
        padding: 0;
        padding-bottom: 68px
    }

    .over__image img {
        max-height: calc(100vh - 240px)
    }

    .over__youtube svg {
        max-height: calc(100vh - 240px)
    }

    .swiperoverimages .swiper-container {
        height: 100%;
        margin: 0
    }

    .swiperoverimages .swiper-button-next,.swiperoverimages .swiper-button-prev {
        margin-top: 0;
        top: auto;
        bottom: -68px;
        width: 48px;
        height: 48px
    }

    .swiperoverimages .swiper-pagination {
        bottom: 5px
    }

    .swiperoverimages .swiper-button-prev {
        left: 0
    }

    .swiperoverimages .swiper-button-next {
        right: 0
    }

    body[data-over-full="1"] .over__inner {
        height: auto
    }

    body[data-over-full="1"] .over__contents {
        height: calc(100vw + 68px)
    }
}

.share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.share:before {
    content: "SHARE";
    height: 40px;
    line-height: 40px
}

.share>div {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 12px
}

.share>div>a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-indent: 105%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/share.svg);
    background-size: auto 100%
}

.share>div>a.share_tw {
    background-color: #000;
    background-position: 0px 0
}

.share>div>a.share_fb {
    background-color: #0866ff;
    background-position: 50% 0
}

.share>div>a.share_line {
    background-color: #06c755;
    background-position: 100% 0
}

.form__title {
    font-size: 90%;
    line-height: 1.2;
    margin-bottom: .6em;
    margin-top: 2em
}

.form__title span {
    color: #c00
}

.form p {
    font-size: 80%;
    line-height: 1.2;
    margin-bottom: .6em
}

.form__error {
    color: #c00
}

.form__checkbox {
    margin: .6em 0;
    padding-left: .2em
}

.form__checkbox>li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: .6em
}

.form__checkbox label {
    line-height: 1.2;
    flex: 1;
    margin-left: .2em
}

.form__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .8em;
    margin: .6em 0;
    border: 1.5px solid rgba(0,0,0,.1);
    line-height: 1.2
}

.form select {
    padding-right: 2em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M16%2C19l-4-5h8Z%22%2F%3E%3C%2Fsvg%3E") no-repeat right center
}

.form textarea {
    line-height: 1.4
}

.form__submit {
    margin-top: 1.6em;
    cursor: pointer
}

@media screen and (max-width: 640px) {
    .form {
        font-size:120%
    }

    .form__checkbox,.form__input {
        font-size: 115%
    }

    .form__input {
        padding: .6em
    }

    .form select {
        padding-right: 2em
    }
}

.the_content {
    font-size: 100%;
    line-height: 1.8;
    overflow-wrap: break-word
}

.the_content:after {
    content: " ";
    display: block;
    clear: both
}

.the_content h1,.the_content h2 {
    font-size: 140%;
    font-weight: 600;
    line-height: 1.4;
    padding: .6em 0;
    padding-bottom: 1em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.the_content h1:first-child,.the_content h2:first-child {
    padding-top: 0
}

.the_content h2 {
    font-size: 130%
}

.the_content h3,.the_content h4 {
    font-size: 110%;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1.2em
}

.the_content h4 {
    font-size: 105%
}

.the_content h5,.the_content h6 {
    font-size: 100%;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em
}

.the_content h6 {
    font-size: 105%
}

.the_content h1:first-child,.the_content h2:first-child,.the_content h3:first-child,.the_content h4:first-child,.the_content h5:first-child,.the_content h6:first-child,.the_content p:first-child,.the_content ul:first-child,.the_content ol:first-child,.the_content table:first-child,.the_content blockquote:first-child,.the_content iframe:first-child {
    margin-top: 0
}

.the_content h1:last-child,.the_content h2:last-child,.the_content h3:last-child,.the_content h4:last-child,.the_content h5:last-child,.the_content h6:last-child,.the_content p:last-child,.the_content ul:last-child,.the_content ol:last-child,.the_content table:last-child,.the_content blockquote:last-child,.the_content iframe:last-child {
    margin-bottom: 0
}

.the_content b,.the_content strong {
    font-weight: 600
}

.the_content span {
    font: inherit
}

.the_content p {
    font: inherit;
    margin-bottom: 1em
}

.the_content p a {
    display: inline-block
}

.the_content img {
    max-width: 100%;
    height: auto
}

.the_content img.alignleft {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em
}

.the_content img.alignright {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em
}

.the_content img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em
}

.the_content hr {
    border: none;
    border-bottom: 1.5px solid rgba(0,0,0,.05);
    margin: 2em auto;
    display: block;
    clear: both
}

.the_content ul,.the_content ol {
    margin: 1em 0;
    margin-left: 1.5em
}

.the_content ul li,.the_content ol li {
    display: list-item;
    margin-bottom: .4em;
    line-height: 1.6
}

.the_content ul li:last-child,.the_content ol li:last-child {
    margin-bottom: 0
}

.the_content ul li {
    list-style: disc
}

.the_content ol li {
    list-style-type: decimal
}

.the_content iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative
}

.the_content iframe[src^="https://www.google.com/maps/embed"] {
    height: 320px
}

.the_content iframe[src^="https://www.youtube.com/embed/"] {
    height: 420px
}

.the_content .twitter-tweet,.the_content twitter-widget,.the_content twitterwidget {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.the_content table {
    width: 100%;
    margin-bottom: 1em;
    height: auto !important;
    font-size: 100%
}

.the_content table tr {
    height: auto !important
}

.the_content table th,.the_content table td {
    height: auto !important;
    padding: .6em .8em;
    line-height: 1.6;
    border-bottom: 1.5px solid rgba(0,0,0,.05)
}

.the_content table th {
    color: #3b3330;
    width: 15%;
    white-space: nowrap;
    font-weight: 600;
    position: relative;
    vertical-align: top
}

.the_content table th[colspan] {
    line-height: 1.4;
    padding: .6em .6em;
    border-bottom: none;
    font-size: 110%;
    background: #006095;
    color: #fff;
    word-break: break-all;
    white-space: normal
}

.the_content table td[colspan] {
    word-break: break-all;
    white-space: normal
}

.the_content table hr {
    margin: 1em auto
}

.the_content blockquote {
    box-sizing: border-box;
    font-size: 90%;
    line-height: 1.4;
    border-radius: 5px;
    padding: 1em 1.5em;
    border: 1.5px solid rgba(0,0,0,.05);
    margin-bottom: 1em;
    word-break: break-all
}

.the_content blockquote:after {
    content: " ";
    display: block;
    clear: both
}

@media screen and (max-width: 640px) {
    .the_content {
        font-size:110%
    }

    .the_content h1 {
        font-size: 130%
    }

    .the_content h2 {
        font-size: 120%
    }

    .the_content img {
        height: auto !important;
        width: auto !important;
        max-width: 100%
    }

    .the_content img.max10 {
        max-width: 10%
    }

    .the_content img.max20 {
        max-width: 20%
    }

    .the_content img.max30 {
        max-width: 30%
    }

    .the_content img.max40 {
        max-width: 40%
    }

    .the_content img.max50 {
        max-width: 50%
    }

    .the_content img.max60 {
        max-width: 60%
    }

    .the_content img.max70 {
        max-width: 70%
    }

    .the_content img.max80 {
        max-width: 80%
    }

    .the_content img.max90 {
        max-width: 90%
    }

    .the_content img.alignleft,.the_content img.alignright {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .the_content iframe[src^="https://www.youtube.com/embed/"] {
        height: 188px
    }

    .the_content iframe[src^="https://www.google.com/maps/embed"] {
        height: 280px
    }

    .the_content .twitter-tweet,.the_content twitter-widget,.the_content twitterwidget {
        overflow: hidden;
        width: 100% !important;
        max-width: 260px !important
    }

    .the_content table {
        width: 100% !important;
        margin-top: 1.6em
    }

    .the_content table th,.the_content table td {
        border-bottom: none
    }

    .the_content table th {
        display: block;
        width: auto !important;
        background: rgba(0,0,0,.05);
        padding: .4em .8em
    }

    .the_content table td {
        width: auto !important;
        display: block;
        padding: .8em .8em
    }
}

html,body {
    background: #000;
    color: #fff
}

a {
    color: #333;
    -webkit-tap-highlight-color: rgba(255,0,0,.1)
}

.boxshaodw {
    box-shadow: 0 0 15px rgba(255,0,0,.6)
}

.boxshaodw--blue {
    box-shadow: 0 0 15px rgba(0,0,255,.6)
}

.textshadow {
    text-shadow: 0 0 10px red
}

.textshadow--blue {
    text-shadow: 0 0 10px blue
}

.anchor {
    height: 100px;
    margin-top: -100px
}

.share:before {
    height: 3.5em;
    line-height: 3.5em;
    font-weight: 600
}

.share>div {
    display: block;
    width: 3.5em;
    height: 3.5em;
    margin-left: 1em
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    outline: none;
    background: #165;
    background-image: linear-gradient(0deg, rgb(165, 0, 0) 0%, rgb(203, 0, 0) 100%);
    color: #fff;
    font-size: 90%;
    padding: 1em 2.4em;
    text-decoration: none;
    margin: .6em;
    letter-spacing: .05em;
    border-radius: .5em;
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    text-shadow: 0 -1.5px 0 rgba(0,0,0,.4);
    border-radius: 5em;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease
}

.btn--sub {
    background: #fff;
    color: #333
}

.btn--max {
    padding: 1em;
    margin: 0 auto;
    margin-top: 1.4em;
    display: block;
    text-align: center
}

.btn--max:first-child {
    margin-top: 0
}

.btn--small {
    font-size: 80%
}

.btn--disable {
    opacity: .5;
    pointer-events: none
}

.btn--notice {
    border: 1.5px solid #900;
    background-image: linear-gradient(90deg, rgb(46, 0, 0) 0%, rgb(0, 0, 0) 100%);
    text-decoration: underline;
    border-radius: 10px;
    padding: .8em 2.4em;
    text-shadow: 0 0 10px red
}

.btn--twitter {
    background: #000;
    text-shadow: 0 -1.5px 0 rgba(0,0,0,.2)
}

.btn span {
    font-weight: 600
}

.btn:hover {
    transform: scale(1.04)
}

.body-iframe {
    background: #fff;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.body-iframe html,.body-iframe body {
    height: auto
}

.body-iframe .the_content {
    text-align: center;
    width: 100%;
    padding: 2em;
    font-size: 110%
}

.body-iframe .the_content p {
    word-break: break-all
}

.body-iframe .the_content p span {
    display: inline-block
}

body[data-over="1"] .header,body[data-over="1"] .bg,body[data-over="1"] .container {
    overflow: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable
}

@media screen and (max-width: 1440px) {
    html,body {
        font-size:16px
    }
}

@media screen and (max-width: 1080px) {
    html,body {
        font-size:14px
    }
}

@media screen and (max-width: 768px) {
    html,body {
        font-size:12px
    }

    .anchor {
        height: 70px;
        margin-top: -70px
    }

    .body-iframe .the_content {
        text-align: left;
        font-size: 100%;
        padding: 1.6em
    }

    .body-iframe .the_content p span {
        display: inline
    }
}

.container {
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
    margin: 0 auto
}

.container:before {
    content: " ";
    display: block;
    height: 180px
}

.bg {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.bg__image {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    transition-property: opacity;
    transition-duration: 800ms;
    transition-timing-function: ease;
    opacity: .4
}

.bg__rain {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4
}

.bg__rain canvas {
    display: block;
    width: 100%;
    height: auto
}

.bg__flash {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0
}

@keyframes FLASH {
    from {
        opacity: 0
    }

    2% {
        opacity: 0
    }

    3% {
        opacity: .6
    }

    4% {
        opacity: .2
    }

    6% {
        opacity: 1
    }

    20% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease
}

.loading:before {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    background: url(../img/loading.svg) center center no-repeat #000;
    background-size: 40px;
    border-radius: 10px
}

body[data-loaded="1"] .bg__flash {
    animation: FLASH ease-out 7s infinite;
    animation-delay: 1.8s
}

body[data-page=download] .bg__image {
    opacity: .2
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 5000
}

.header__inner {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.header__logo__anchor {
    width: 400px;
    height: 160px;
    text-indent: 105%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-size: cover
}

.nav {
    margin: 0 10px
}

.nav__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%
}

.nav__anchor {
    margin: 0 10px;
    width: 220px;
    height: 120px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #000;
    border-radius: 10px;
    line-height: 1;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease
}

.nav__anchor:hover {
    transform: scale(1.04)
}

.nav__en {
    color: #c80000;
    font-size: 150%;
    font-family: "Times New Roman";
    letter-spacing: .05em;
    font-weight: 600
}

.nav__ja {
    color: #fff;
    font-size: 80%;
    font-weight: 600;
    margin-top: .6em
}

.navtoggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9000;
    display: none
}

.navtoggle__anchor {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    color: #fff
}

.navtoggle__anchor:before,.navtoggle__anchor:after,.navtoggle__anchor__line {
    content: " ";
    position: absolute;
    left: 28%;
    width: 44%;
    height: 2px;
    background: #c80000;
    display: block;
    transition-property: transform,top,bottom,opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transform-origin: center;
    box-shadow: 0 0 10px rgba(255,0,0,.6)
}

.navtoggle__anchor:before {
    top: calc(34% - 1px)
}

.navtoggle__anchor__line {
    top: calc(50% - 1px)
}

.navtoggle__anchor:after {
    bottom: calc(34% - 1px)
}

body[data-navfix="1"] .header {
    position: fixed;
    box-shadow: 0 0 15px rgba(255,0,0,.6);
    background-image: linear-gradient(0deg, rgba(46, 0, 0, 0.9) 0%, rgb(0, 0, 0) 100%);
    height: 100px
}

body[data-navfix="1"] .header__logo__anchor {
    width: 250px;
    height: 100px
}

body[data-navfix="1"] .nav__anchor {
    height: 75px;
    font-size: 80%
}

body[data-nav="1"] .navtoggle__anchor:before {
    top: calc(50% - 1px);
    transform: rotate(-225deg)
}

body[data-nav="1"] .navtoggle__anchor__line {
    transform: scale(0.5);
    opacity: 0
}

body[data-nav="1"] .navtoggle__anchor:after {
    bottom: calc(50% - 1px);
    transform: rotate(225deg)
}

@media screen and (max-width: 768px) {
    .header {
        height:180px
    }

    .header__inner {
        display: block;
        padding: 0
    }

    .header__logo {
        margin: 0 auto
    }

    .header__logo__anchor {
        width: 250px;
        height: 100px
    }

    .nav {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 20px
    }

    .nav__anchor {
        margin: 0px 7px;
        width: 40%;
        height: 55px
    }

    .nav__ja {
        font-size: 75%
    }

    body[data-navfix="1"] .header {
        height: 70px
    }

    body[data-navfix="1"] .header__logo__anchor {
        width: 175px;
        height: 70px
    }

    body[data-navfix="1"] .nav {
        display: none
    }

    body[data-navfix="1"] .nav__anchor {
        height: 55px;
        font-size: 100%
    }

    body[data-navfix="1"] .navtoggle {
        display: block
    }

    body[data-nav="1"] .header {
        height: auto
    }

    body[data-nav="1"] .nav {
        display: block
    }
}

.footer {
    padding: 4em 2em;
    text-align: center;
    background-image: -moz-linear-gradient(90deg, rgb(46, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(46, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(46, 0, 0) 0%, rgb(0, 0, 0) 100%)
}

.footer small {
    display: block;
    font-weight: 600;
    font-size: 90%;
    font-family: Arial
}

.footer .share {
    margin-bottom: 2em
}

.footer aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1em 0
}

.footer aside a {
    display: block;
    height: 100px;
    margin: 10px;
    overflow: hidden
}

.footer aside a img {
    display: block;
    height: 100%;
    width: auto
}

@media screen and (max-width: 768px) {
    .footer aside a {
        height:60px
    }
}

.titles {
    background: rgba(0,0,0,.8)
}

.titles .swiper-container {
    overflow: visible
}

.titles .swiper-slide {
    width: calc(23% - 30px);
    margin: 30px 15px
}

.titles .swiper-slide a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px
}

.titles .swiper-slide a:hover .titles__image img {
    opacity: .5
}

.titles .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    display: none
}

.titles .swiper-pagination-bullet {
    background: #c80000;
    opacity: .3
}

.titles .swiper-pagination-bullet-active {
    opacity: 1
}

.titles .swiper-button-prev,.titles .swiper-button-next {
    height: 3em;
    width: 3em;
    margin: 0;
    margin-top: -2em;
    color: #c80000;
    background: rgba(0,0,0,.8);
    border-radius: 50%;
    top: 50%;
    opacity: 0;
    transition-property: transform,opacity;
    transition-duration: 200ms;
    transition-timing-function: ease
}

.titles .swiper-button-prev[aria-label],.titles .swiper-button-next[aria-label] {
    opacity: 1
}

.titles .swiper-button-prev:after,.titles .swiper-button-next:after {
    display: none
}

.titles .swiper-button-prev[aria-disabled=true],.titles .swiper-button-next[aria-disabled=true] {
    opacity: 0;
    pointer-events: none
}

.titles .swiper-button-prev:hover,.titles .swiper-button-next:hover {
    transform: scale(1.04)
}

.titles .swiper-button-prev {
    left: 0
}

.titles .swiper-button-prev i {
    margin-right: .2em
}

.titles .swiper-button-next {
    right: 0
}

.titles .swiper-button-next i {
    margin-left: .2em
}

.titles__inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px
}

.titles__image {
    background: #900;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(200, 0, 0) 100%)
}

.titles__image img {
    display: block;
    width: 100%;
    height: auto;
    transition-property: opacity;
    transition-duration: 800ms;
    transition-timing-function: ease
}

.titles__text {
    background-image: linear-gradient(0deg, rgb(46, 0, 0) 0%, rgb(0, 0, 0) 100%);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 90%;
    padding: 1em;
    line-height: 1
}

@media screen and (max-width: 768px) {
    .titles .swiper-slide {
        width:calc(60% - 30px);
        margin-bottom: 18px;
        margin-top: 24px
    }

    .titles .swiper-slide a:hover .titles__image img {
        opacity: 1
    }

    .titles .swiper-pagination {
        display: block
    }

    .titles .swiper-button-prev,.titles .swiper-button-next {
        display: none
    }

    .titles__inner {
        padding: 0
    }
}

.info {
    margin-bottom: 2em
}

.info__inner {
    padding: 0 1.5em
}

.info__notice {
    text-align: center;
    padding-top: 2em
}

.info__twitter {
    text-align: center;
    padding: 1.8em 0
}

.info__pickup {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.info__pickup__anchor {
    display: block;
    width: calc(36% - 30px);
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    border: 1.5px solid #900;
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease
}

.info__pickup__anchor img {
    display: block;
    width: 100%;
    height: auto
}

.info__pickup__anchor:hover {
    transform: scale(1.04)
}

.twitterembed {
    max-width: 900px;
    height: 480px;
    margin: 0 auto;
    background: #fff;
    overflow-y: scroll
}

@media screen and (max-width: 768px) {
    .info__notice .btn {
        display:block;
        padding: .8em
    }

    .info__pickup__anchor {
        width: 70%;
        margin: 0;
        margin-top: 1.5em
    }

    .info__pickup__anchor:first-child {
        margin-top: 0
    }

    .twitterembed {
        height: 66vw
    }
}

.about {
    background: rgba(0,0,0,.8)
}

.about__inner {
    max-width: 1600px;
    margin: 0 auto
}

.about__layout {
    padding: 3em 1.5em;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start
}

.about__layout__left {
    width: 45%;
    position: relative;
    z-index: 100
}

.about__layout__right {
    width: 55%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.about__layout__right__inner {
    width: 100%;
    position: relative
}

.about__blood {
    width: 70%;
    position: absolute;
    top: 0;
    left: -20%
}

.about__blood img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .2;
    transform: translate(0, -38%)
}

.about__title {
    max-width: 640px;
    display: block;
    position: relative
}

.about__title img {
    display: block;
    width: 100%;
    height: auto
}

.about__text {
    font-weight: 600;
    font-size: 120%;
    margin: 1em 2%;
    margin-bottom: 1.5em;
    position: relative
}

.about__caststaff {
    position: relative;
    max-width: 520px;
    background: rgba(201,0,0,.2);
    padding: 1em;
    border-radius: 10px;
    margin: 0 2%;
    font-size: 90%
}

.about__caststaff p {
    margin-bottom: .8em
}

.about__caststaff p:last-child {
    margin-bottom: 0
}

.about__caststaff span {
    display: inline-block
}

.about__photo {
    max-width: 520px;
    margin: 0 auto;
    margin-right: 5%
}

.about__photo img {
    display: block;
    width: 100%;
    height: auto
}

.about__image {
    height: 240px;
    width: 100%;
    background-image: url(../img/about_image.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: BGLOOP 200s linear infinite
}

@keyframes BGLOOP {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -3413px 0
    }
}

.about .swiper-container {
    overflow: visible
}

.about .swiper-slide {
    opacity: 0
}

.about .swiper-slide-active {
    opacity: 1
}

@media screen and (max-width: 768px) {
    .about__layout {
        display:block
    }

    .about__layout__left,.about__layout__right {
        width: 100%
    }

    .about__layout__left {
        display: none
    }

    .about__image {
        height: 120px;
        animation: BGLOOP_SP 100s linear infinite
    }

    @keyframes BGLOOP_SP {
        0% {
            background-position: 0 0
        }

        100% {
            background-position: -1707px 0
        }
    }

    .about__photo {
        margin: 0
    }

    .about__blood {
        left: -22%
    }
}

.download {
    padding: 4em 1.5em;
    padding-bottom: 6em
}

.download__title {
    text-align: center;
    line-height: 1;
    display: block;
    margin-bottom: 3em
}

.download__title img {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto
}

.download__language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 90%;
    margin-bottom: 2em
}

.download__language__anchor {
    width: 50%;
    margin: 15px;
    text-align: center;
    background: #000;
    border: 1.5px solid #000;
    line-height: 1;
    padding: 1em;
    color: #fff;
    border-radius: 10px;
    font-weight: 600
}

.download__language__anchor[data-current="1"] {
    background: 900;
    color: #c80000;
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    border: 1.5px solid #c80000;
    text-decoration: none
}

.downloadlist {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start
}

.downloadlist__item {
    width: calc(25% - 30px);
    margin: 15px
}

.downloadlist__image {
    overflow: hidden;
    border-radius: 10px;
    background: #000
}

.downloadlist__image img {
    display: block;
    width: 100%;
    height: auto
}

.downloadlist__link {
    padding-top: 5px
}

.downloadlist hr {
    border: none;
    border-bottom: 1.5px dashed #c80000;
    opacity: .3;
    margin: 1em .5em
}

.storebtn {
    outline: none;
    background: #000;
    color: #fff;
    font-size: 80%;
    text-decoration: none;
    letter-spacing: .05em;
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    border-radius: 5em;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 1em 0;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease
}

.storebtn--small {
    padding: 1.2em 0;
    font-size: 70%
}

.storebtn__text {
    line-height: 1;
    font-weight: 600
}

.storebtn__text__sub {
    opacity: .6;
    font-size: 80%;
    margin-top: .6em
}

.storebtn__image {
    height: 100%
}

.storebtn__image img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto
}

.storebtn--image {
    height: 4.5em;
    padding: 0
}

.storebtn--ps4 {
    background: #003791
}

.storebtn--psp {
    background: #0096ff
}

.storebtn--psv {
    background: #00439c
}

.storebtn--3ds {
    background: #bb000f
}

.storebtn--switch {
    background: #bb000f
}

.storebtn--discon {
    background: #222;
    box-shadow: 0 0 10px rgba(0,0,0,.8)
}

.storebtn:hover {
    transform: scale(1.04)
}

@media screen and (max-width: 768px) {
    .download {
        padding:4em 1em
    }

    .download__title img {
        height: auto;
        width: 90%
    }

    .download__language {
        width: 80%
    }

    .download__language__anchor {
        margin: 5px 8px
    }

    .downloadlist {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .downloadlist__item {
        width: calc(50% - 20px);
        margin: 10px;
        margin-bottom: 20px
    }

    .storebtn {
        margin-top: 10px
    }
}

.tenjin {
    padding: 1em 2em
}

.tenjin a {
    display: block;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 1em
}

@media screen and (min-width: 800px) {
    .tenjin a {
        transition-property:opacity;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        opacity: 1
    }

    .tenjin a:hover {
        opacity: .8
    }
}

.tenjin a:last-child {
    margin-bottom: 0
}

.tenjin a img {
    display: block;
    width: 100%;
    height: auto
}
